<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>

    <!--0:Local;1:Dev;2:Test;3:Production-->
    <add key="AppState" value="2"/>

    <!--测试环境-->
    <!--获取公告信息的URL-->
    <add key="NoticeUrlTest" value=""/>
    <!--日志上传的URL-->
    <add key="LogUploadURLTest" value=""/>
    <!--云端服务器地址-->
    <add key="CloudServerIPTest" value="http://192.168.0.42:8080/cloud"/>
    <!--MTP服务器地址-->
    <add key="MTPServerIPTest" value="http://test.chinapnr.com/mtp"/>
    <!--更新服务器地址-->
    <add key="UpdateServerIPTest" value=""/>


    <!--正式环境-->

    <!--获取公告信息的URL-->
    <add key="NoticeUrlProduction" value=""/>
    <!--日志上传的URL-->
    <add key="LogUploadURLProduction" value=""/>
    <!--云端服务器地址-->
    <add key="CloudServerIPProduction" value="http://192.168.0.42:8080/cloud"/>
    <!--MTP服务器地址-->
    <add key="MTPServerIPProduction" value="https://lab.chinapnr.com/mtp"/>
    <!--更新服务器地址-->
    <add key="UpdateServerIPProduction" value=""/>


    <!--AppBootStart 固定配置信息-->

    <!--下载文件保存根目录-->
    <add key="DownRootFolder" value="E:\\rootpath\\download\\"/>
    <!--程序运行根目录-->
    <add key="BinRootFolder" value="E:\\program\\chinapnr\\"/>
    <!--平台更新文件保存目录-->
    <add key="PlaDownFolder" value="E:\\rootpath\\download\\Platform\\"/>
    <!--服务更新文件保存目录-->
    <add key="SvcDownFolder" value="E:\\rootpath\\download\\Service\\"/>
    <!--应用更新文件保存目录-->
    <add key="AppDownFolder" value="E:\\rootpath\\download\\App\\"/>
    <!--平台程序运行目录-->
    <add key="PlaBinFolder" value="E:\\ProgramFiles\\Chinapnr\\Platform\\"/>
    <!--服务运行目录-->
    <add key="SvcBinFolder" value="E:\\ ProgramFiles \\ Chinapnr \\Service\\"/>
    <!--APP运行目录-->
    <add key="AppBinFolder" value="E:\\ ProgramFiles \\ Chinapnr \\App\\"/>
    <!--平台文件备份目录-->
    <add key="PlaBackupFolder" value="E:\\ProgramFiles\\Chinapnr\\Backup\\Platform\\"/>
    <!--服务文件备份目录-->
    <add key="SvcBackupFolder" value="E:\\ ProgramFiles \\ Chinapnr \\Backup\\Service\\"/>
    <!--APP文件备份目录-->
    <add key="AppBackupFolder" value="E:\\ ProgramFiles \\ Chinapnr \\Backup\\App\\"/>
    <!--平台更新包解压缓存目录-->
    <add key="PlaPackageTemp" value="E:\\rootpath\\download\\PackegeTemp\\PlatForm\\"/>
    <!--服务更新包解压缓存目录-->
    <add key="SvcPackageTemp" value="E:\\rootpath\\download\\PackegeTemp\\Service\\"/>
    <!--APP更新包解压缓存目录-->
    <add key="AppPackageTemp" value="E:\\rootpath\\download\\PackegeTemp\\App\\"/>
    <!--平台更新回滚缓存目录-->
    <add key="PlaRollbackTemp" value="E:\\ProgramFiles\\Chinapnr\\RollbackTemp\\Platform\\"/>
    <!--服务更新回滚缓存目录-->
    <add key="SvcRollbackTemp" value=" E:\\ProgramFiles\\Chinapnr\\RollbackTemp\\Service\\"/>
    <!--APP更新回滚缓存目录-->
    <add key="AppRollbackTemp" value=" E:\\ProgramFiles\\Chinapnr\\RollbackTemp\\App\\"/>

    <!--Pipe 的配置-->
    <!--服务端管道名-->
    <add key="PipeSvcName" value="."/>
    <!--客户端管道名-->
    <add key="PipeClientName" value="Send_LOG4PIPECLIENT"/>
    <!--服务端最大服务数-->
    <add key="PipeSvcMaxNumber" value=""/>
    <!--管道接收超时时间-->
    <add key="PipeTimeOut" value=""/>
    <!--管道失败日志路径-->
    <add key="PipeFailLogPath" value="\\pipe\\"/>
    <!--日志配置路径-->
    <add key="LogConfigPath" value=""/>
    <!--日志发送线程循环间隔-->
    <add key="LogSendCirculateTime" value="200"/>
    <!--SqlMap 配置文件路径-->
    <add key="SqlMapPath" value=""/>


    <!--升级文件后台下载间隔时间-->
    <add key="CirculateDateTime" value=""/>
    <!--读取定时日志上传的间隔方式，按时间间隔，或者按日志条数间隔-->
    <add key="LogUpdateType" value=""/>
    <!--读取定时日志上传的间隔方式是时间，按时间间隔的时间-->
    <add key="LogUploadTime" value=""/>
    <!--读取定时日志上传的间隔方式是条数，或者按日志条数-->
    <add key="LogUploadCount" value=""/>
    <!--失败日志的存放的路径-->
    <add key="LogUploadFailDir" value=""/>


    <!--公告信息的配置信息-->
    <!--获取公告信息的轮询时间-->
    <add key="NoticeTime" value=""/>
    <!--公告信息的路径-->
    <add key="NoticeFileDir" value=""/>
    <!--MD5加密种子-->
    <add key="MD5Seed" value=""/>

    <!--MTP服务的地址-->

    <!--绑定接口-->
    <add key="MTPBind" value="/operation/validate"/>
    <!--激活接口-->
    <add key="MTPActivate" value="/operation/activeMtDev"/>
    <!--签到接口-->
    <add key="MTPSign" value="/operation/signIn"/>
    <!--消费接口-->
    <add key="MTPPay" value="/operation/trade/doPay"/>
    <!--消费查询接口-->
    <add key="MTPPayQuery" value="/operation/query/queryRecentPayOrder"/>
    <!--消费撤销接口-->
    <add key="MTPPayCancel" value="/operation/trade/doCancel"/>
    <!--消费撤销查询接口-->
    <add key="MTPPayCancelQuery" value="/operation/query/queryRecentCancelOrder"/>
    <!--退款接口-->
    <add key="MTPRefund" value="/operation/trade/doRefund"/>
    <!--退款查询接口-->
    <add key="MTPRefundQuery" value="/operation/query/queryRecentRefundOrder"/>

    <!--微创配置文件的路径-->
    <add key="ModulePath" value="ConfigFile\Module.xml"/>
    <!--帮助的文档路径-->
    <add key="SoftwareHelpPath" value="Help\POSDLL_API.chm"/>
    
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
