<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Windows.Interactivity" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.5.0.0" newVersion="4.5.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <add key="BaseURL" value="http://106.14.215.193/test"/>
    <add key="LoginURL" value="/login?v=v1.0"/>
    <add key="DictURL" value="/dict?v=v1.0"/>
    <add key="AddMainEventURL" value="/mainEvent?v=v1.0"/>
    <add key="GetMainEventListURL" value="/getMainEventList?v=v1.0"/>
    <add key="AddSubEventURL" value="/childEvent?v=v1.0"/>
    <add key="GetSubEventListURL" value="/getChildEventList?v=v1.0"/>
  </appSettings>
</configuration>